body {
    width: 100%;
    margin: 0px;
    background-color: gray;
    height: 100%;
}

header {
    background-image: url(images/topimage.svg);
    background-position: center;
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navbox {
   width: 1120px;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.mob-navbar {
    display: none;
}

.navbar {
    display: flex;
}

.navbutton {
    padding: 29px 14px;
    margin-left: 30px;
    position: relative;
}

.navbutton img {
    padding-left: 10px;
}

.navbutton a {
    color: white;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.topboxsupport {
    width: 1120px;
    min-height: 204px;
    padding-top: 311px;
    margin-left: auto;
    margin-right: auto;
}

.topbox {
    width: 545px;
    min-height: 204px;
}

.rectangles {
    display: flex;
}

.rectangle {
    padding-right: 18px;
}

h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-bottom: 9px;
    margin: 0px;
    font-weight: 400;
}

.topbox p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0px;
    padding-bottom: 26px;
    font-weight: 400;
    line-height: 32px;
}

.topbox a {
    color: #0093D8;
}

.navbutton:hover {
    background-color: #0093D8;
    transition-duration: 0.2s;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
}

.navbutton:hover .dropdown {
    display: block;
    padding-top: 30px;
}

.dropdown .navbutton {
    width: 110px;
    background-color: #0093D8;
    margin-left: -14px;
    border-top: 1px solid white;
}

.dropdown .navbutton:hover {
    background-color: #007BB5;
}

main {
    margin: 0px;
    width: 100%;
    background-color: white;
}

.introduction {
    min-height: 100%;
    display: flex;
    justify-content: center;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.introduction a {
    color: #0093D8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.introduction a:hover {
    text-decoration: none;
}

.intro1 {
    padding-top: 72px;
    width: 545px;
    min-height: 100%;
    padding-right: 30px;
}

.square img {
    width: 50%;
    float: right;
    margin-left: 29px;
    margin-bottom: 15px;
}

h2 {
    margin: 0px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 19px;
}

.intro1 p {
    margin-bottom: 16px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 22px;
}

ul {
    list-style-image: url(images/barrow.svg);
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    list-style-position: outside;
}

li {
    padding-left: 10px;
}

.intro2 {
    padding-top: 72px;
    min-height: 100%;
    width: 545px;
}

.intro2 p {
    margin: 0px;
    color: #414141;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 16px;
    line-height: 22px;
}

.highlight {
    font-weight: 700;
}

.right {
    text-align: right;
}

.partners {
    width: 1120px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.partners h2 {
    padding-top: 70px;
    padding-bottom: 32px;
    margin: 0px;
}

.partnerboxes {
    display: flex;
    padding-bottom: 80px;
}

.pbox {
    border: 1px solid #CACCCE;
    height: 162px;
    width: 33%;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #2D333D;
    width: 100%;
    display: block;
}

footer h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    padding-top: 28px;
    line-height: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer p {
    margin: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 22px;
}

.footer1 {
    display: flex;
    height: 100%;
    width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.fbox1 {
    width: 449px;
    height: 100%;
    padding-right: 126px;
}

.fbox1 h3 {
    padding-bottom: 32px;
}

.fbox1 p {
    margin-bottom: 32px;
}

.iconbox {
    display: flex;
}

.icon {
    padding-right: 6px;
}

.fbox2 {
    width: 545px;
    height: 100%;
}

input[type=text], input[type=email], textarea {
    justify-content: center;
    padding-left: 18px;
    width: 545px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    background-color: #252628;
    border: 1px solid #020203;
}

.inputwrapper_name {
    padding-top: 30px;
    color: white;
}

.inputwrapper_email {
    padding-top: 30px;
    color: white;
}

.inputwrapper_message {
    padding-top: 30px;
    color: white;
}

.label_name {
    color: white;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 19px;
    padding-bottom: 4px;
}

.label_email {
    color: white;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 19px;
    padding-bottom: 4px;
}

.label_message {
    color: white;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-left: 19px;
    padding-bottom: 4px;
}

textarea {
    height: 143px;
    resize: none;
}

.counter{
    color: white;
    padding-top: 12px;
    padding-left: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.sendbutton {
    background-color: #0093D8;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 16px 26px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}

.sendbutton:hover {
    background-color: #007BB5;
}

.sendbutton img {
    padding-left: 20px;
}

.footer2 {
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid white;
    min-height: 75px;
    width: 1120px;
}

.footer2 p {
    padding-top: 25px;
    padding-bottom: 25px;
}










/*Tablet*/
@media (max-width: 1440px) {

    .navbox {
        width: 80%;
    }
         
    .topboxsupport {
        width: 80%;
    }
    
    .introduction {
        width: 80%;
        min-height: 100%;
    }
    
    .intro1 {
        max-width: 545px;
    }
     
    .intro2 {
        max-width: 545px;
    }

    .partners {
        width: 80%;
    }
     
    .footer1 {
        width: 80%;
    }
    
    .fbox1 {
        width: 45%;
        padding-right: 10%;
    }
     
    .fbox2 {
        width: 55%;
    }
    
    input[type=text], input[type=email], textarea {
        width: 100%;
    }
         
    .footer2 {
        width: 80%;
    }
    
}





@media (max-width: 768px) {
    
    nav {
        height: 100px;
    }

    .navbox {
        width: 420px;
        height: 100px;
    }

    .navbar {
        display: none;
    }

    .mob-navbar {
        display: block;
        padding: 33px 30px;
        background-color: none;
        margin: 0;
        font: inherit;
    }

    .mob-dropdown {
        display: none;
        position: absolute;
        margin-top: 32px;
        width: 100%;
        left: 0;
    }

    .mobbutton1 {
        display: block;
        background-color: #0093D8;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        text-decoration: none;
        border-top: 1px solid white;
    }

    .mobbutton2 {
        display: block;
        background-color: #007BB5;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding-left: 80px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        text-decoration: none;
        border-top: 1px solid white;
    }

    .nav {
        height: 100px;
    }

    .topboxsupport {
        width: 420px;
        min-height: 204px;
        padding-top: 243px;
    }
    
    .topbox {
        width: 100%;
    }

    .introduction {
        display: block;
        width: 100%;
    }
    
    .intro1 {
        width: 420px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
    }
    
    .intro1 img {
        margin-left: 23px;
    }
        
    .intro2 {
        padding-top: 75px;
        width: 420px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .partners {
        width: 420px;
    }

    .partnerboxes {
        display: block;
        padding-bottom: 75px;
    }

    .pbox {
        height: 290px;
        width: 290px;
        margin-right: auto;
        margin-left: auto;
    }
       
    .footer1 {
        display: block;
        justify-content: center;
        width: 420px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .fbox1 {
        width: 420px;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .iconbox {
        padding-bottom: 47px;
    }
          
    .fbox2 {
        width: 420px;
        margin-left: auto;
        margin-right: auto;
    }
         
    .footer2 {
        width: 420px;
    }

    input[type=text], input[type=email], textarea {
        width: 420px;
    }
}







/*Mobile*/
@media (max-width: 480px) {

    .navbox {
        width: 100%;
    }

    .logo {
        padding-left: 6.25%;
    }

    .topboxsupport {
        width: 87.5%;
        padding-top: 55%;
    }
    
    .intro1 {
        width: 87.5%;
    }
        
    .intro2 {
        width: 87.5%;
    }
    
    .partners {
        width: 87.5%;
    }

    .pbox {
        width: 70%;
    }
       
    .footer1 {
        width: 87.5%;
    }
    
    .fbox1 {
        width: 100%;
    }
          
    .fbox2 {
        width: 100%;
    }
         
    .footer2 {
        width: 87.5%;
    }

    input[type=text], input[type=email], textarea {
        width: 100%;
    }

}




